<head>
    <title>Nathan Lau</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <noscript><link rel="stylesheet" href="{{ 'assets/css/noscript.css' | relative_url }}" /></noscript>
</head>
<body class="is-preload">

    <!-- Wrapper -->
        <div id="wrapper">

            <!-- Header -->
                <header id="header" class="alt">
                    <a href="{{ '/index.html' | relative_url }}" class="logo"><strong>Nathan</strong> <span>Lau</span></a>
                    <nav>
                        <a href="#menu">Menu</a>
                    </nav>
                </header>

            <!-- Menu -->
            <nav id="menu">
                <ul class="links">
                    <li><a href="{{ '/index.html' | relative_url }}">Home</a></li>
                    <li><a href="{{ '/projects.html' | relative_url }}">Projects</a></li>
                    <li><a href="{{ '/about.html' | relative_url }}">About Me</a></li>
                    <li><a href="{{ '/computers.html' | relative_url }}">Eglinton & Young Computers</a></li>
                </ul>
            </nav>