<!-- Header -->
<header id="header" class="alt">
    <a href="index.html" class="logo"><strong>Nathan</strong> <span>Lau</span></a>
    <nav>
        <a href="#menu">Menu</a>
    </nav>
</header>

<!-- Menu -->
<nav id="menu">
    <ul class="links">
        <li><a href="index.html">Home</a></li>
        <li><a href="projects.html">Projects</a></li>
        <li><a href="about.html">About Me</a></li>
        <li><a href="computers.html">Eglinton & Young Computers</a></li>
    </ul>
</nav>

<!-- Banner -->
<section id="banner" class="major">
    <div class="inner">
        <header class="major">
            <h1>My Writing</h1>
        </header>
        <div class="content">
            <ul class="actions">
                <li><a href="#contact" class="button next scrolly">Contact Me</a></li>
            </ul>
        </div>
    </div>
</section>